@import '../../sass/mixins.scss';
@import '../../sass/typography.scss';
@import '../../sass/variables.scss';

.sign-up{
    padding: 4rem;
    height: 80vh;

    display: flex;
    flex-direction: column;

    &__heading{
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $color-primary;
        margin: 0 3rem 3rem 3rem;
        display: block;
        position: relative;

        &::before{
            content: '';
            height: 1px;
            width: 60%;
            background-color: $color-secondary;
            position: absolute;
            top: 100%;
            margin-left: 20%;
        }

    }
    
    .form-group{

        &:not(:first-child){
            margin-bottom: 1rem;
        }
    }

    .btn-group{
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        align-items: center;
        // grid-gap: 2rem;
    }

    .create-account-link{
        font-size: 1.3rem;
        white-space: nowrap;
        color: black;
        

        &:hover{
            color: blue;
        }
    }
}