@import '../../sass/mixins.scss';
@import '../../sass/typography.scss';
@import '../../sass/variables.scss';

.home{
    &__hero{
        padding: 10rem;

        display: grid;
        grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
        &--container-left{

            .heading{
                .headinh-1,
                .heading-2{
                    display: block;
                }
                .heading-1{
                    white-space: nowrap;
                }
            }
            .box{
                width: 70rem;
            }
            .btn-container{
                padding: 5rem 20rem;

            }
        }
        &--container-right{
            position: relative;

            .img-container{
                height: 60rem;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
            .img-container-sm{
                height: 41rem;
                width: 36rem;

                position: absolute;
                bottom: -7rem;
                left: -28rem;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}