@import "../../sass/mixins.scss";
@import "../../sass/typography.scss";
@import "../../sass/variables.scss";

.about {
  padding: 5rem 10rem;
  .img-container {
    height: 70rem;
    margin-bottom: 5rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .content {
    p:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
