// COLORS VARIABLES

$color-primary: #ED1A58;
$color-secondary: #105594;

$color-secondary-light: #409BD6;
$color-secondary-gradient: linear-gradient(180deg, #409BD6 0%, #105594 100%);;
$color-white: #FFFFFF;